<h1> HOME PAGE USER SIGNED IN </h1>

<div id='whole'>
  <div id='header'>
    <div id='1' style="display: inline-block">
      <div style="margin: 15px 0px 0px; display: inline-block; text-align: center; width: 312px;"><noscript>
        <div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204);
        text-align: center; background-color: rgb(14, 3, 3);"><a href="http://localtimes.info/Oceania/New_Zealand/Wellington/"
        style="text-decoration: none; font-size: 13px; color: rgb(25, 234, 40);"><img src="http://localtimes.info/images/countries/nz.png"=""
        border=0="" style="border:0;margin:0;padding:0"=""> Wellington</a></div></noscript>
        <script type="text/javascript"
        src="http://localtimes.info/clock.php?continent=Oceania&country=New Zealand&city=Wellington&cp1_Hex=19ea28&cp2_Hex=0e0303&cp3_Hex=000000&fwdt=312&ham=0&hbg=0&hfg=0&sid=0&mon=0&wek=0&wkf=0&sep=0&widget_number=1000">
        </script>
        </div>
    </div>

    <div id='2' style="display: inline-block">
      <div id='weather'>
  <a href="http://www.accuweather.com/en/nz/wellington/250938/weather-forecast/250938" class="aw-widget-legal">
</a><div id="awcc1427848865754" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true"
data-uid="awcc1427848865754"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
</div>
    </div>

    <div id='3' style="display: inline-block">
      <img src='http://a1.mzstatic.com/us/r1000/045/Purple/10/1e/b9/mzl.eryhxbkg.1024x1024-65.jpg' width="250" height = "100" ></img>
      <audio controls autoplay> <source src="http://lb.zenfm.be/zenfm.mp3" type="audio/mpeg"> Old Broswer Failure</audio>
    </div>

<div id='middle'>
    <div id='4' style="display: inline-block">
      <img src='https://d13yacurqjgara.cloudfront.net/users/763/screenshots/1539600/crate.jpg' width = "300" height="300"</img>
  </div>

  <div id='5' style="display: inline-block">
    <img src='https://d13yacurqjgara.cloudfront.net/users/763/screenshots/1539600/crate.jpg' width = "300" height="300"</img>
</div>

<div id='6' style="display: inline-block">
  <iframe src="http://30boxes.com/widget/8490214/JayDavis/522b524c31949faae63d84fb3a37e361/1/" width="95%" height="600"></iframe>
</div>
    </div>



      </div>
      <a href="http://www.google.com">  <img src="http://icons.iconseeker.com/png/fullsize/ivista-2-os-x-icons/arrow-right-3.png" width = "100" height="100"</img></a>
  </div>
<div>


</div>
