<h1> HOME PAGE USER SIGNED IN </h1>

<div id='whole'>
  <div id='header'>
    <div id='1'>

    </div>

    <div id='2'>
      <div id='weather'>
  <a href="http://www.accuweather.com/en/nz/wellington/250938/weather-forecast/250938" class="aw-widget-legal">
</a><div id="awcc1427848865754" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true"
data-uid="awcc1427848865754"></div><script type="text/javascript" src="http://oap.accuweather.com/launch.js"></script>
</div>
    </div>

    <div id='3'>
      <img src='http://a1.mzstatic.com/us/r1000/045/Purple/10/1e/b9/mzl.eryhxbkg.1024x1024-65.jpg' width="250" height = "100" position="relative"></img>
      <audio controls autoplay> <source src="http://lb.zenfm.be/zenfm.mp3" type="audio/mpeg"> Old Broswer Failure</audio>
    </div>

<div id='middle'>
    <div id='4'>
      <img src='https://d13yacurqjgara.cloudfront.net/users/763/screenshots/1539600/crate.jpg' width = "300" height="300"</img>
  </div>
  <div id='5'>
    <img src='https://d13yacurqjgara.cloudfront.net/users/763/screenshots/1539600/crate.jpg' width = "300" height="300"</img>
</div>
<div id='6'>
  <img src='https://d13yacurqjgara.cloudfront.net/users/763/screenshots/1539600/crate.jpg' width = "300" height="300"</img>
</div>
    </div>
    <a href="http://www.google.com">  <img src="http://icons.iconseeker.com/png/fullsize/ivista-2-os-x-icons/arrow-right-3.png" width = "100" height="100"</img></a>


  </div>



</div>
